{% extends 'base.html' %}

{% block title %}
{{ recipe.recipe_name }}
{% endblock %}

{% block body %}
<div class="container" xmlns="http://www.w3.org/1999/html">
      <h1>Информация о рецепте</h1>
      <div class="alert alert-info">
          <h2>{{ recipe.recipe_name }}</h2>
          <p>Время готовки: {{ recipe.cooking_time }} {{ recipe.time_type }}</p>
          <h6>Описание: {{ recipe.description }}</h6>
          <a href="/favorites/{{ recipe.id }}/delete" class="btn btn-warning">Удалить из Избранного</a>
      </div>

  </div>
{% endblock %}