{% extends 'base.html' %}

{% block title %}
Обновление рецепта
{% endblock %}

{% block body %}
    <h1>Обновление рецепта</h1>
    <form method="post">
        <input name="recipe_name" id="recipe_name" class="container form-control" value="{{ recipe.recipe_name }}" placeholder="Введите название рецепта"><br>
        <textarea rows="2" cols="74" name="cooking_time" id="cooking_time" placeholder="Введите время готовки">{{ recipe.cooking_time }}</textarea>
        <textarea rows="2" cols="74" name="time_type" id="time_type" placeholder="Введите тип времени (часы, минуты)">{{ recipe.time_type }}</textarea><br>
        <textarea name="description" id="description" class="container form-control" placeholder="Введите описание">{{ recipe.description }}</textarea><br>
        <div class="d-grid gap-2 col-6 mx-auto">
            <input type="submit" class="btn btn-sussess" value="Обновить">
        </div>
    </form>
{% endblock %}